* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }


  .main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .btn{
    background-color: brown;
    width: 80px;
    height: 40px;
    border: 1px solid brown;
    color: white;
    font-size: 20px;
  }
  .text{
    color: white;
    font-size: 22px;
    background-color: brown;
    width: 370px;
    height: 30px;
    text-align: center;
  }