* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }


  .main{
    background-image: url(./img/battle.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
  }

  .subtitle{
    text-transform: uppercase;
  }

  .title{
    text-transform: uppercase;
  }
  .select{
    width: 400px;
    height: 30px;
    margin-right: 20px;
  }

  .btn{
    background-color: gold;
    width: 80px;
    height: 40px;
    border: 1px solid yellow;
    color: rgb(53, 13, 13);
    font-size: 20px;
    border-radius: 5px;
  }
  .text{
    color: rgb(53, 13, 13);
    font-size: 22px;
    background-color: burlywood;
    width: 500px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
  }