* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }


  .main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .text{
    color: white;
    background-color: brown;
    width: 320px;
    height: 30px;
    text-align: center;
  }