* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
  }



  .main{
    background-image: url(/img/battle.jpg);
    
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
  }

  .subtitle{
    text-transform: uppercase;
  }

  .parragraf{
    text-align: center;
    color: whitesmoke;
    font-size: smaller;
    width: 250px;
  }
  .img-title{
      width: 220px;
      height: auto;
  }

  .select{
    width: 170px;
    height: 25px;
    margin-right: 15px;
    font-size: 10px;
  }

  .buttons{
    background-color: gold;
    width: 80px;
    height: 30px;
    border: 1px solid yellow;
    color: rgb(53, 13, 13);
    font-size: 15px;

    border-radius: 5px;
  }
  .text{
    color: rgb(53, 13, 13);
    font-size: 22px;
    background-color: burlywood;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
  }

  .hidden{
    display: none;
  }