* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  :root{
    --font-family-1: 'Josefin Sans', sans-serif;
    --font-family-2: 'Libre Baskerville', serif;
    --color-purple: #8C355E;
    --color-dark-blue: #0B0726;
    --color-navy-blue: #1A2873;
    --color-light-cream: #F2E6D0;
    --color-light-orange: #F2AD94;
    --color-terracota: #BF584E; 
  }

  .main{
    background-image: url(/img/battle.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
  }
  .main::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.50);
  }

  .subtitle{
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    font-family: var(--font-family-2);
    color: lightgray;
  }

  .parragraf{
    font-family: var(--font-family-2);
    position: relative;
    text-align: center;
    color: white;
    font-size: smaller;
    font-size: 11px;
    width: 250px;
  }
  .img-title{
    position: relative;
    width: 290px;
    height: auto;
  }

  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .select{
    position: relative;
    width: 250px;
    height: 25px;
    margin-bottom: 15px;
    font-size: 11.5px;
    text-align: center;
    border-radius: 5px;
    font-family: var(--font-family-1);
    background-color: var(--color-light-cream);
  }

  .buttons{
    position: relative;
    background-color: var(--color-terracota);
    width: 130px;
    height: 30px;
    border: 1px solid var(--color-purple);
    color: var(--color-light-cream);
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Libre Baskerville';
  }
  .text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark-blue);
    font-size: 15px;
    font-family: var(--font-family-2);
    background-color: var(--color-light-orange);
    width: 270px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
  }

  .sections-points{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-light-cream);
    font-size: var(--font-family-2);
  }
  .points{
    text-transform:uppercase;
  }

  .results{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .hidden{
    display: none;
    background-color: var(--color-dark-blue);
    color: var(--color-light-orange);
  }